* h2 {
  text-align: center;
}
/*desktop menu*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  padding: 10px 20px;
}
.nav-links {
  list-style: none;
  display: flex;
}
.nav-links li {
  margin-right: 20px;
}
.nav-links a {
  text-decoration: none;
  color: #000;
}

/* Burger-menu (skjult på desktop) */
.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 5px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 3px 0;
}
/* Mobilmenu (synlig på mobil) */
@media screen and (max-width: 800px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links a {
    text-decoration: none;
    color: #000;
  }

  .burger-menu {
    display: flex;
  }
}

.hero {
  text-align: center;
  height: 900px;
  background-image: url(img/silke.webp);
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container1 {
  margin-top: 15rem;
  margin-right: 25rem;
  margin-bottom: 10rem;
  margin-left: 25rem;
  padding-top: 5rem;
  padding-right: 10rem;
  padding-bottom: 5rem;
  padding-left: 10rem;
  background-color: rgba(255, 255, 255, 0.6);
}
.container2 {
  margin-top: 10rem;
  margin-right: 25rem;
  margin-bottom: 10rem;
  margin-left: 25rem;
  padding-top: 2rem;
  padding-right: 5rem;
  padding-bottom: 2rem;
  padding-left: 5rem;
  background-color: #eddcca;
}

.container3 {
  text-align: left;
  margin-top: 5rem;
  margin-left: 15rem;
  margin-bottom: 80rem;
  padding: 80px;
  background-color: rgba(255, 255, 255, 0.6);
  max-width: 800px;
}

.container4 {
  text-align: left;
  margin-top: 17rem;
  margin-right: 25rem;
  margin-bottom: 10rem;
  margin-left: 25rem;
  padding-top: 2rem;
  padding-right: 5rem;
  padding-bottom: 2rem;
  padding-left: 5rem;
  background-color: rgba(255, 255, 255, 0.6);
}

.container5 {
  text-align: left;
  margin-top: 17rem;
  margin-right: 25rem;
  margin-bottom: 10rem;
  margin-left: 25rem;
  padding-top: 2rem;
  padding-right: 5rem;
  padding-bottom: 2rem;
  padding-left: 5rem;
  background-color: rgba(255, 255, 255, 0.6);
}

.container6 {
  text-align: left;
  margin-top: 17rem;
  margin-right: 25rem;
  margin-bottom: 10rem;
  margin-left: 25rem;
  padding-top: 2rem;
  padding-right: 5rem;
  padding-bottom: 2rem;
  padding-left: 5rem;
  background-color: rgba(255, 255, 255, 0.6);
}

.container7 {
  text-align: left;
  margin-top: 17rem;
  margin-right: 25rem;
  margin-bottom: 10rem;
  margin-left: 25rem;
  padding-top: 2rem;
  padding-right: 5rem;
  padding-bottom: 2rem;
  padding-left: 5rem;
  background-color: rgba(255, 255, 255, 0.6);
}

.grid_cv {
  display: flex;
  justify-content: space-between;
}

.grid_web {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /*lavet med chat-gpt*/
  gap: 20px;
  justify-content: center;
}

.grid_ux {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.grid_animation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.image-container {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.mig_img {
  margin-left: 28rem;
  z-index: 1;
  width: 30%;
  border-radius: 3%;
}

.cosmoogjeg_img {
  width: 30%;
  margin-bottom: 60rem;
  margin-left: 15rem;
  border-radius: 3%;
  z-index: 1;
}

.min_com {
  width: 80%;
  height: 500px;
  margin-left: 10rem;
  margin-bottom: 1.5rem;
}

.galleri {
  width: 80%;
  height: 500px;
  margin-left: 10rem;
}

.komponenter {
  width: 80%;
  height: 500px;
  margin-bottom: 1.5rem;
}

.operativsystemer {
  width: 80%;
  height: 500px;
}

.grid_ux img {
  width: 100%;
}

.grid_animation img {
  width: 100%;
}
