* body {
  background-color: #f9f2ea;
}

nav {
  background-color: #f9f2ea;
}

h1 {
  font-family: "Noto Serif Display", serif;
  font-size: 40px;
  color: #a99a88;
  line-height: 1.7;
}

h2 {
  font-family: "Noto Serif Display", serif;
}

p {
  font-family: "Alice", serif;
  line-height: 2;
}

.nav-links {
  font-family: "Athiti", sans-serif;
  text-decoration: underline;
}

.logo {
  font-family: "Allison", cursive;
  font-size: 45px;
}

#myButton2 {
  margin-top: 30px;
  text-align: center;
}

.om_mig_knap {
  background-color: #d0c0ac;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10%;
  cursor: pointer;
  width: 20%;
  text-align: center;
}

.om_mig_knap:hover {
  background-color: #ffff;
}

.web_knap {
  background-color: #d0c0ac;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10%;
  cursor: pointer;
  width: 20%;
  text-align: center;
}

.web_knap:hover {
  background-color: #ffff;
}

.link_web {
  text-decoration: color(#d0c0ac);
}
