* body {
  background-color: #f9f2ea;
}

nav {
  background-color: #f9f2ea;
}

h1 {
  font-family: "Noto Serif Display", serif;
  font-size: 40px;
  color: #a99a88;
  line-height: 1.7;
}

.nav-links {
  font-family: "Athiti", sans-serif;
  text-decoration: underline;
}

.logo {
  font-family: "Allison", cursive;
  font-size: 45px;
}
