* body {
  background-color: #f9f2ea;
}

nav {
  background-color: #f9f2ea;
}

h1 {
  font-family: "Noto Serif Display", serif;
  font-size: 40px;
  color: #89735f;
  /*color: #a99a88;*/
  line-height: 1.7;
}

h2 {
  font-family: "Noto Serif Display", serif;
}

.h2_animation {
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.h2_indhold {
  margin-top: 7rem;
}

h3 {
  text-align: left;
  color: #89735f;
}

.h3_footer {
  text-align: center;
}

.h3_indhold {
  margin-left: 2rem;
  position: relative;
  top: -30px;
}

.h3_indhold2 {
  margin-top: 5rem;
}

p {
  font-family: "Alice", serif;
  line-height: 2;
  text-align: left;
}

.p_footer {
  text-align: center;
}

.nav-links {
  font-family: "Athiti", sans-serif;
  text-decoration: underline;
}

.logo {
  font-family: "Allison", cursive;
  font-size: 45px;
}

a {
  text-decoration: none;
  font-weight: 700;
}

a:visited {
  color: inherit; /* eller angiv din ønskede farve, f.eks. color: #000; */
}

@media (min-width: 844px) {
.ommig_knap {
  font-family: "Noto Serif Display", serif;
  background-color: #d0c0ac;
  font-size: 15px;
  margin-right: 10px;
  padding: 20px 30px;
  width: 18%;
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.ommig_knap:hover {
  background-color: #ffff;
}

.web_knap {
  font-family: "Noto Serif Display", serif;
  background-color: #d0c0ac;
  font-size: 15px;
  margin-right: 10px;
  padding: 20px 30px;
  width: 18%;
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.web_knap:hover {
  background-color: #ffff;
}

.uxui_knap {
  font-family: "Noto Serif Display", serif;
  background-color: #d0c0ac;
  font-size: 15px;
  margin-right: 10px;
  padding: 20px 30px;
  width: 18%;
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.uxui_knap:hover {
  background-color: #ffff;
}

.animation_knap {
  font-family: "Noto Serif Display", serif;
  background-color: #d0c0ac;
  font-size: 15px;
  margin-right: 10px;
  padding: 20px 30px;
  width: 18%;
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.animation_knap:hover {
  background-color: #ffff;
}

.indhold_knap {
  font-family: "Noto Serif Display", serif;
  background-color: #d0c0ac;
  font-size: 15px;
  margin-right: 10px;
  padding: 20px 30px;
  width: 18%;
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.indhold_knap:hover {
  background-color: #ffff;
}
}
.link_web {
  text-decoration: color(#d0c0ac);
}
